
body.in {
  margin: 0;
  background: url(https://images.wallpaperscraft.ru/image/single/les_solnechnyj_svet_tuman_151710_1920x1080.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: absolute;
}
div.namepage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 49%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
  }

  div.namepage {
    font-size: 400%;
    font-weight: bold;
  }

  div.login {
    font-size: 200%;
    position: absolute;
    top: 60%;
    left: 43%;
  }
  input::placeholder {
    color: #996300;
    opacity: 2; 
    transition: opacity 0.3s ease;
  }
  input {
    color: #996300;
    border: none;
  }
  form {
    text-align: center;
  }

