
body.in {
  margin: 0;
  background: url(https://images.wallpaperscraft.ru/image/single/les_solnechnyj_svet_tuman_151710_1920x1080.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #000000;
  background-position: absolute;
}
div.namepage {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 49%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
  }

  div.namepage {
    font-size: 400%;
    font-weight: bold;
  }

  div.login {
    font-size: 200%;
    position: absolute;
    top: 60%;
    left: 43%;
  }
  input::placeholder {
    color: #996300;
    opacity: 2; 
    transition: opacity 0.3s ease;
  }
  input {
    color: #996300;
    border: none;
  }
  form {
    text-align: center;
  }
.fog {
  background: center center;  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: absolute;

}
.fog::before,
.fog::after,
.fog div::before, 
.fog div::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
}
.fog div::before, 
.fog div::after    {
    left: 100%;
}
.fog::before, 
.fog div::before {
    background-image: url("fog-1.png");
    animation: fogmove 20s linear 0s infinite;
}
.fog::after, 
.fog div::after {
    background-image: url("fog-2.png");
    animation: fogmove 10s linear 0s infinite;
}
@keyframes fogmove {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}
